body {
    font-family: helvetica;
    line-height: 1.5;
  
    background-color: #FFF6F4;
    color: #5C413C;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
  }
